<html xmlns:th="http://www.thymeleaf.org">

<head>
	<script src="../js/jquery.min.js"></script>
	<script src="../service/ajaxService.js"></script>
	<script>
		$(document).ready(function(){
			$("#forma").on("submit",function(e){
				e.preventDefault();
				var user = {}
				user.id = 1;
				user.imgFile = $("#image").files[0];
				var success = function(data){
					alert("Added")
					location.reload()};
				ajaxService.POST("/app/test/testFile", JSON.stringify(user), success);
			});
		});
	
	</script>
</head>

<body>

	<div th:if="${message}">
		<h2 th:text="${message}">
	</div>

	<div>
		<form id="froma">
			<table>
				<tr><td>File to upload:</td><td><input type="file" name="image" id="image"/></td></tr>
				<tr><td></td><td><input type="submit" value="Upload" /></td></tr>
			</table>
		</form>
	</div>

	<div>
		<ul>
			<li th:each="file : ${files}">
				<a th:href="${file}" th:text="${file}">
			</li>
		</ul>
	</div>

</body>
</html>