.row-image {
  max-height: 80%;
  width: 15%;
}

.search-form {
  height: auto;
  padding-bottom: 5rem;
}

.search-container {
  height: auto !important;
  margin-top: 6rem;
}

.search-result {
  display: flex;
  flex-wrap: initial;
  height: 300px;
  border: 1px solid gray;
  border-radius: 4px;
  max-height: 200px;
  align-items: center;
  width: 100%;
}

.search-content {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  width: 100%;
}

.text-overflow {
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.tab-link {
  text-decoration: none;
  padding: 7px;
}

.active-mode {
  background-color: #0069d9;
  color: white !important;
}

.inactive-mode {
  color: black !important;
}

.nav-tabs {
  margin-bottom: 10px;
  width: 30%;
  align-items: center;
}

a:hover {
  text-decoration: none;
}

.see-more-link {
  padding-top: 5px;
}